* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --orange-clr: hsl(26, 75%, 48%);
  --white-clr: hsl(0, 0%, 100%);
  --light-gray-clr: hsl(0, 0%, 20%);
  --medium-gray-clr: hsl(0, 0%, 12%);
  --dark-gray-clr: hsl(0, 0%, 8%);
  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;
}

html {
  font-size: 87.5%;
}

@font-face {
  font-family: inter;
  src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

body {
  background-color: var(--dark-gray-clr);
  font-family: 'inter', sans-serif;
  text-align: center;
}

body,
.wrapper {
  height: 100vh;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
}

.container {
  background-color: var(--medium-gray-clr);
  border-radius: 1rem;
  padding: 3rem;
  max-width: 384px;
  width: 100%;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.profile-img {
  border-radius: 100%;
  margin-bottom: 0.45rem;
  width: 90px;
}

.profile-name {
  font-size: 1.7rem;
}

.profile-name,
.profile-description {
  color: var(--white-clr);
}

.profile-description {
  font-weight: var(--font-regular);
  margin: 0.5rem 0 2rem 0;
}

.profile-title {
  color: var(--orange-clr);
  font-weight: var(--font-semibold);
  margin-top: 0.35rem;
}

.profile-links ul {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  list-style: none;
}

.profile-links a {
  background-color: var(--light-gray-clr);
  border-radius: 0.5rem;
  color: var(--white-clr);
  display: block;
  font-weight: var(--font-bold);
  text-decoration: none;
  padding: 1rem;
}

.profile-links a:hover,
.profile-links a:focus {
  background-color: var(--orange-clr);
  color: var(--dark-gray-clr);
}

@media screen and (max-width: 350px) {
  .container {
    padding: 1.5rem;
  }
}
